@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #121212;
  color: #ededed;
}

main {
  grid-auto-rows: minmax(300px, auto);
  grid-auto-flow: dense;
}

section {
  cursor: pointer;
  border-radius: 2px;
}

.img-overlay {
  transition: 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.65);
}

section:hover .img-overlay {
  opacity: 1;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.show {
  display: flex;
  height: 50vh;
}

@media screen and (max-width: 480px) {
  .show {
    height: 100%;
  }
}

#plus {
  position: relative;
}

nav a:before {
  position: absolute;
  top: 4px;
  right: 110%;
  font-family: "Font Awesome\ 5 Free";
  content: "\f067"; /* FontAwesome Unicode */
}
